.App {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  padding: 2rem;
  line-height: 1.6;
}

.container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  color: #be1250;
}

h3 {
  color: #0f766e;
}

ul {
  margin-left: 1.2rem;
}
